
NavigationDrawerTest/app/src/main/res/values/colors.xml
NavigationDrawerTest/app/src/main/res/values/dimens.xml
NavigationDrawerTest/app/src/main/res/values/drawables.xml
NavigationDrawerTest/app/src/main/res/values/strings.xml
NavigationDrawerTest/app/src/main/res/values/styles.xml
NavigationDrawerTest/app/src/test/java/com/example/navigationdrawertest/ExampleUnitTest.java
NavigationDrawerTest/build.gradle
NavigationDrawerTest/gradle.properties
NavigationDrawerTest/gradle/wrapper/gradle-wrapper.jar
NavigationDrawerTest/gradle/wrapper/gradle-wrapper.properties
NavigationDrawerTest/gradlew
NavigationDrawerTest/gradlew.bat
NavigationDrawerTest/settings.gradle
NavigationDrawerTest/app/src/main/res/values-v21/styles.xml
NavigationDrawerTest/app/src/main/res/navigation/mobile_navigation.xml
NavigationDrawerTest/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
NavigationDrawerTest/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
NavigationDrawerTest/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
NavigationDrawerTest/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
NavigationDrawerTest/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
NavigationDrawerTest/app/src/main/res/mipmap-xhdpi/ic_launcher.png
NavigationDrawerTest/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
NavigationDrawerTest/app/src/main/res/mipmap-mdpi/ic_launcher.png
NavigationDrawerTest/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
NavigationDrawerTest/app/src/main/res/mipmap-hdpi/ic_launcher.png
NavigationDrawerTest/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
NavigationDrawerTest/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
NavigationDrawerTest/app/src/main/res/menu/main.xml
NavigationDrawerTest/app/src/main/res/menu/activity_main_drawer.xml
NavigationDrawerTest/app/src/main/res/layout/nav_header_main.xml
NavigationDrawerTest/app/src/main/res/layout/fragment_tools.xml
NavigationDrawerTest/app/src/main/res/layout/fragment_slideshow.xml
NavigationDrawerTest/app/src/main/res/layout/fragment_share.xml
NavigationDrawerTest/app/src/main/res/layout/fragment_send.xml
NavigationDrawerTest/app/src/main/res/layout/fragment_home.xml
NavigationDrawerTest/app/src/main/res/layout/fragment_gallery.xml
NavigationDrawerTest/app/src/main/res/layout/content_main.xml
NavigationDrawerTest/app/src/main/res/layout/app_bar_main.xml
NavigationDrawerTest/app/src/main/res/layout/activity_main.xml
NavigationDrawerTest/app/src/main/res/drawable/side_nav_bar.xml
NavigationDrawerTest/app/src/main/res/drawable/ic_launcher_background.xml
NavigationDrawerTest/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
NavigationDrawerTest/app/src/main/res/drawable-v21/ic_menu_slideshow.xml
NavigationDrawerTest/app/src/main/res/drawable-v21/ic_menu_share.xml
NavigationDrawerTest/app/src/main/res/drawable-v21/ic_menu_send.xml
NavigationDrawerTest/app/src/main/res/drawable-v21/ic_menu_manage.xml
NavigationDrawerTest/app/src/main/res/drawable-v21/ic_menu_gallery.xml
NavigationDrawerTest/app/src/main/res/drawable-v21/ic_menu_camera.xml
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/tools/ToolsViewModel.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/tools/ToolsFragment.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/slideshow/SlideshowViewModel.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/slideshow/SlideshowFragment.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/share/ShareViewModel.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/share/ShareFragment.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/send/SendViewModel.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/send/SendFragment.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/home/HomeViewModel.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/home/HomeFragment.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/gallery/GalleryViewModel.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/ui/gallery/GalleryFragment.java
NavigationDrawerTest/app/src/main/java/com/example/navigationdrawertest/MainActivity.java
NavigationDrawerTest/app/src/main/AndroidManifest.xml
NavigationDrawerTest/app/src/androidTest/java/com/example/navigationdrawertest/ExampleInstrumentedTest.java
NavigationDrawerTest/app/proguard-rules.pro
NavigationDrawerTest/app/build.gradle
NavigationDrawerTest/.idea/vcs.xml
NavigationDrawerTest/.idea/runConfigurations.xml
NavigationDrawerTest/.idea/misc.xml
NavigationDrawerTest/.idea/gradle.xml
NavigationDrawerTest/.idea/codeStyles/Project.xml
